__pycache__/
*.pyc
instance/
.env
*.db
*.sqlite3
.vscode/
*.log
.venv/
unused-data/
Dockerfile
docker-compose.yml
.dockerignore
generate_schema.py
history_commands.txt
static/uploads/
*.txt 
portfolio-app.tar
backup.sql
Errors-while-hosting-on-ec2-ubuntu.txt
electron-app/
run_server.py 
*.venv
tray_launcher.py 
*.iss
*.tar
*.yaml
Other-Code-Files/
my_backup_200226.sql
docker-compose-for-pulling-portfolio-app-image.yml
.venv_old
